.about__container {
    background: url(../../assets/bg.png) center no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.about__wrapper {
    background-color: rgba(251, 242, 233, .8);
    border-radius: 20px;
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.about__text {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}
